.sk{
    color:  rgb(155, 209, 209);
    font-size: 50px;
}
.fc{
    color:  rgb(155, 209, 209);
}
.mn{
    margin-bottom: 110px;
}
.position-absolute{
    cursor: pointer;
    transition: .3s;
}
.position-absolute:hover{
    background-color: grey;
    padding: 10px;
    border-radius: 10px;

}